<h1><%= @user.name %></h1>

<p><%= link_to "View as JSON", user_path(@user, format: 'json') %></p> <%# TODO: Consistent quotes, symbol, use Rubocop? %>

<ul>
  <%= render partial: "posts/post_summary", collection: @user.posts, as: :post %>
</ul>
